
.btnBlock button{
    cursor: pointer;

    border: none;
    outline: none;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn svg{
    margin-left: 6px;
}