.card {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 413px;
    min-height: 372px;
    max-height: 528px;
    margin: 0 auto;

    background: #FFFFFF;
    border-radius: 2px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 35px 0 41px 0;

    font-family: Montserrat;
    font-size: 26px;
    text-align: center;
}

.button {
    cursor: pointer;

    display: inline-block;

    width: 363px;
    height: 36px;
    margin: 47px auto 31px auto;

    font-size: 15px;
    color: #fff;
    text-align: center;
    text-decoration: none;

    background-color: #366EFF;
    border: none;
    border-radius: 30px;
    outline: none;
    box-shadow: 0 4px 18px rgba(54, 110, 255, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

.button:hover {
    background-color: #366EFF
}

.button:active {
    transform: translateY(4px);

    background-color: #366EFF;
    box-shadow: 0 5px #666;

}
h5{
    margin: 0 0 15px 0;

    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;

    opacity: 0.5;
}

.link {
    width: 130px;
    margin: 11px auto 42px auto;

    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-decoration-line: underline;

}
.link a {
    color: #366EFF;
}
.input{
    position: relative;
}

.forgot {
    margin-top: 20px;

    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 17px;
    text-align: right;
}
.text{
    margin: 20px 10px 0 10px;

    font-family: 'Montserrat';
    font-size: 18px;
    font-style: normal;
    line-height: 17px;
    color: #000000;
    text-align: left;

    opacity: 0.5;
}

form {
    width: 363px;
}

.formCheckEmail {
    width: 363px;
}
.formCheckEmail img {
    display: block;

   margin: 0 auto;
}
.formCheckEmail span {
    color: chocolate;
}