.wrapper{
    position: relative;
}
.about{
    display: inline-block;

    margin-bottom: 8px;

    font-size: 14px;
    font-weight: 500;
    color: #000000;
}
.icon{
    position: absolute;
    top: 70%;
    left: 5%;
    transform: translateY(-30%);
}
.inputDebounce{
    width: 100%;
    max-width: 413px;
    padding: 6px 40px;

    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    outline: none;
}
