.wrapper {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 10px;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    margin-top: 40px;
}

.pagination span {
    margin-right: 5px;
    margin-left: 5px;

    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    color: #000000;
}

.mainTitle {
    margin-top: 10px;
    margin-bottom: 20px;

    font-size: 22px;
    font-weight: 600;
}

.filter {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    margin: 30px 0;
}

.reset button {
    cursor: pointer;

    width: 40px;
    height: 40px;

    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 2px
}

.reset svg {
    width: 18px;
    height: 18px;
}


.btnGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.RequestBlock {
    margin-top: -15px;
    margin-bottom: 15px;
}

.successText {
    color: green;
}

.errorText {
    color: red;
}

