.blockIcon {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    max-width: 150px;
    margin: 0 auto;
}

.iconBtn{
    background: transparent;
    border: none;
    outline: none;
}

.iconBtn svg {
    cursor: pointer;

    width: 20px;
    height: 20px;

    color: #000000;

    opacity: 0.8;
}
