.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.labelBlock {
    display: flex;
    align-items: center;
    justify-content: center;
}

.userName {
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    text-decoration: none;
}

.userName:hover {
    color: #808080;
}


.iconBtn svg:hover {
    color: #000000;

    opacity: 0.8;
}
.iconBtn a{
    color: #505050;
}