.header {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 60px;

    background: #FCFCFC;
    box-shadow: 0 2px 10px rgba(109, 109, 109, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

.incubator{
    position: absolute;
    top: 6px;
    left: 136px;

    width: 209px;
    height: 48px;

    background-image: url(../assets/register/incubator.png);
    background-repeat: no-repeat;
}
.button{
    position: absolute;
    top: 12px;
    right: 136px;

    background: #366EFF;
    border-radius: 30px;
    box-shadow: 0 4px 18px rgba(54, 110, 255, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.3);
}
.button a{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 113px;
    height: 36px;

    font-family: 'Montserrat';
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    letter-spacing: 0.01em;
}
.button:hover {
    background-color: #366EFF
}

.button:active {
    transform: translateY(4px);

    background-color: #366EFF;
    box-shadow: 0 5px #666;

}